:root {    
    --alternate-header-color: crimson;
    --header-color: seagreen;
    --table-header-background-color: dodgerblue;
    --table-header-color: lemonchiffon;
}

article {
    display: flex;
    flex-direction: row;
}

h1, h3, h5 {
    color: var(--header-color);
}

h2, h4 {
    color: var(--alternate-header-color);
    border-bottom: 1px solid var(--alternate-header-color);
}

table {
    border: none;    
}

th {
    background-color: var(--table-header-background-color);
    color: var(--table-header-color);
    border: none;
}

td {
    padding: 5px;
    border: none;
}